# Built files
build/
app/build/
*.apk
*.aab
*.iml
_LOCALIZE_LOCALEDIR
.localize

# Local SDK path (CI provides its own)
local.properties

# NDK intermediate
app/src/main/cpp/CMakeFiles/
app/src/main/cpp/CMakeCache.txt
app/src/main/cpp/Makefile
app/src/main/cpp/*.o
app/src/main/cpp/*.obj
app/src/main/cpp/*.exe

# Gradle
.gradle/

# IDE
.idea/
*.swp
*.swo
.vscode/
*.code-workspace

# OS
Thumbs.db
.DS_Store
